<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>wiha_liki</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EBCSMSEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=040e3c454e7a\SQLEXPRESS;Initial Catalog=EBCSMS;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="wihalik_backend.Models.EBCSMSEntities, wihalik_backend" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Wiha_likiEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=040e3c454e7a\SQLEXPRESS;Initial Catalog=Wiha_liki;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="wihalik_backend.Models.Wiha_likiEntities, wihalik_backend" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Wiha_likiEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.wihaModel.csdl|res://*/Models.wihaModel.ssdl|res://*/Models.wihaModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=040e3c454e7a\SQLEXPRESS;Initial Catalog=Wiha_liki;Integrated Security=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EBCSMSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SMSModel.csdl|res://*/Models.SMSModel.ssdl|res://*/Models.SMSModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=040e3c454e7a\SQLEXPRESS;Initial Catalog=EBCSMS;Integrated Security=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>